/*CONFIGURACION General*/
body{
  font-family: 'Roboto', sans-serif;
  background-color:var(--bg-body);
  color:var(--text-default);
}
main{
  background-color: var(--bg-main);
}
section{
  background-color: var(--bg-section);
  padding-top:100px;
  max-height: 100vh;
  height: 100vh;
}
/*********************************************************************************************/
/*CONFIGURACION DE COLORES POR DEFECTO*/
:root{
  /* Textos */
  --txt-default:#ffff;
  --txt-footer:black;
  --txt-h1-color:#161a1d;
  --txt-h4-color:#52b69a;
  /* Background */
  --bg-body:hsl(0,0%,15%);
  --bg-footer:white;
  --bg-nav:#e9e5e5;
  --bg-section:#e9e5e5;
  --bg-main:white;
  /*Colores*/
  --text-color:black;
  --main-color:rgb(38, 222, 170);
  --second-color:#44C6A3;
  /*Navbar*/
  --background-movil: rgba(255, 255, 255, 0.9); /* Color de fondo claro */
}
/*CONFIGURACION DE COLORES MODO OSCURO*/
body.dark{
  /* Textos */
  --txt-default:#ffff;
  --txt-footer:#ffff;
  --txt-h1-color:#161a1d;
  --txt-h4-color:#52b69a;
  /* Background */
  --bg-body:hsl(0,0%,15%);
  --bg-footer:hsl(0,0%,17%);
  --bg-nav:hsl(0,0%,15%);
  --bg-section:#262626;
  --bg-main:gray;
  /*Colores*/
  --main-color:#2670de;
  --second-color:#4644c6;
  --text-color:white;
  /*Navbar*/
  --background-movil: rgba(0, 0, 0, 0.9); /* Color de fondo oscuro */
}

.color-normal{
  color:var(--nav-color);
}
.color-dark{
  color:var(--main-color);
}
/*********************************************************************************************/
/*CONFIGURACION HEADER*/
header {
  width: 100%; /* Ancho igual al ancho de la ventana del navegador */
  height: 100vh; /* Alto igual al alto de la ventana del navegador */
  background-size: cover; /* Ajustar imagen para cubrir el área */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
  text-align: center;
}
/*DIV Inicio*/
header #inicio{
  font-family: 'Carter One', cursive;
  position:relative;
  top:40%;
}
/*P titulo-inicial*/
.titulo-inicial{
  font-size: x-large;
  color: var(--txt-default);
  font-weight: bold;
}
/*span Name*/
#name{
  color:var(--main-color);
}
/*button btn-inicial*/
#btn-inicial{
  background-color: transparent;
  border-radius: 5px;
  border:solid 1px #ffffff;
  color:#ffffff;
  padding-left:40px;
  padding-right:40px;
  font-weight: bold;
  /*border: 2px solid var(--bg-body);*/
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
#btn-inicial:hover{
  background-color:var(--main-color);
  border:solid 1px #ffffff;
  color:#ffffff;
}

/*********************************************************************************************/
#navegador{
  height:50px;
  background-color:var(--bg-nav);
  border-bottom:solid 3px var(--second-color);
  position:fixed !important;
  left:0;
  top: 0px;
  right:0;
  /*visibility: hidden;*/
  z-index: 1;
}
.bandera{
  width: 20px;
  height: 20px;
  margin:10px;
}
.toggle-theme{
  cursor: pointer;
}
.toggle-theme__ic{
  margin-right: 0.5em;
  width:25px;
}
.toggle-theme__text{
  font-size: 0.9rem;
  color:var(--text-color);
  padding-top:10px;
  margin-top:10px;
}
.toggle-theme__text:hover{
  color:var(--main-color)
}
.navbar-nav .nav-link {
  color:var(--text-color)
}
.navbar-nav .nav-link:hover {
  color: var(--main-color); 
}
#navegador .inicio-link {
  color:var(--text-color);
  font-weight: bold;
}
#navegador .inicio-link:hover {
  color: var(--main-color);
}
@media (max-width: 991px) {
  #navbarNav {
      background-color: var(--background-movil);
      border-radius: 0 0 20px 20px;
      padding-top: 5px;
      padding-left: 20px; 
  }
}
/*********************************************************************************************/

/*FOOTER*/
footer{
  background-color: var(--bg-footer);
}
footer h4{
  color: var(--main-color);
}
footer p{
  color: var(--txt-footer);
}
.copyright{
  color:#46464e
}
footer{
  padding-top:50px;
  padding-bottom:10px;
}
footer .social-icon{
  width:40px;
  height:40px;
  margin:10px;
}
footer .col-sm-4 a:hover{
  color:var(--second-color);
}
#copyright{
  color:var(--second-color);
  padding-top:10px;
}